<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/_content/Common/static/normalize.css" asp-append-version="true">
    <link rel="stylesheet" href="~/index.css" asp-append-version="true">
    <link rel="icon" href="/_content/Common/static/Rocket.svg" asp-append-version="true">
    <link rel="manifest" href="~/webmanifest.json" asp-append-version="true" />
</head>
<body>
    <main>
        <partial name="_Messages" model="TempData.GetMessages()" />
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>