@model IList<Common.Lib.Message>

@if (Model != null && Model.Count > 0) {
    <section class="message-holder">
        @foreach (Message m in Model) {
            <div class="message">@m.Text</div>
        }
    </section>
}