@model IEnumerable<FeedItemVM>

<table>
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.Timestamp.ToOffset(TimeSpan.FromHours(1)).ToString("yyyy-MM-dd HH:mm zzzz")</td>
                <td>@item.Parent.Title</td>
                <td>
                    <a href="@item.Link" target="_blank">@item.Title</a> (@item.Domain)

                </td>
            </tr>
        }
    </tbody>
</table>