@using Feed.Lib.Network
@model IndexVM

@if (Model.IsLoggedIn) {
    <nav>
        <code id="clock">@DateTimeOffset.Now.ToString("HH:mm:ss")</code>
        <span id="greeting" data-name="@Model.UserName">Hello @Model.UserName</span>
        <form asp-route="@Static.RouteLogout" method="post">
            <button type="submit">Logout</button>
        </form>
    </nav>
    <div id="output">

    </div>

    <div class="editor">
        <div class="controls">
            <button class="cmd" id="cmdStrong"><strong>B</strong></button>
            <button class="cmd" id="cmdEm"><em>I</em></button>
            <button class="cmd" id="cmdCode"><code>C</code></button>
            <button class="cmd" id="cmdList">*</button>
            <button class="cmd" id="cmdLink">Link</button>
            <button class="cmd" id="cmdSave">Post</button>
            <label><input type="checkbox" id="autoPost" checked />Autopost Mode</label>
        </div>
        <div class="edit-area" contenteditable="true"></div>
    </div> 

    @section Scripts {
        <script type="application/json" id="hashes">
            @( Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.FileHashes)))
        </script>
        <script type="application/json" id="history">@( Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.History)) )</script>
        <script type="module" src="index.js" asp-append-version="true"></script>
    }
} else {
    <a asp-route="@Static.RouteLogin">Login</a>
}
