
:root {
    --background: hsl(220, 50%, 10%);
    --editorBackground: hsl(220, 40%, 15%);
    --text: hsl(120, 80%, 80%);
    --thin-margin: 0.3em;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    align-items: center;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-flow: row nowrap;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    height: calc(100vh - 2 * var( --thin-margin ));
    justify-content: center;
    margin: var(--thin-margin);
}

main {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
    width: 100%;
}

nav {
    align-items: center;
    align-self: flex-start;
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 auto;
    height: 2em;
    justify-content: flex-start;
    padding: var( --thin-margin );
    text-align: left;
}

    nav > * {
        width: min-content;
        padding: 0.2em;
        white-space: nowrap;
    }

#output {
    align-items: flex-start;
    display: grid;
    flex: 1 0 auto;
    grid-auto-rows: min-content;
    grid-template-columns: 3em 1fr;
    height: 1em; /* will be streched by the flex */
    overflow-x: hidden;
    overflow-y: scroll;
    padding: var( --thin-margin);
    width: 100%;
}

    #output > .message {
        display: contents;
    }

        #output > .message.hidden {
            display: none;
        }

    #output .created {
        text-align: left;
        font-size: 80%;
    }

    #output .payload {
        padding-inline-start: var(--thin-margin);
        max-width: calc( 100vw - 5 * var( --thin-margin ) )
    }

    #output .system .username, #output .system .payload {
        color: #b0c0b0;
    }

    #output .daybreak {
        grid-column: span 2;
        margin-top: calc(2 * var(--thin-margin));
        margin-bottom: var(--thin-margin);
    }

        #output .daybreak hr {
            background: linear-gradient(90deg, var(--text) 30%, var(--background) 90%);
            height: 2px;
            border: none;
        }


.editor {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-top: 1em;
}

    .editor > .controls {
        display: flex;
        padding-left: calc(2 * var(--thin-margin));
        flex-flow: row nowrap;
        align-items: center;
    }

        .editor > .controls > * + * {
            margin-left: var(--thin-margin);
        }

    .editor > .edit-area {
        background-color: var( --editorBackground );
        padding: var(--thin-margin);
        margin: var(--thin-margin);
        border: inset 3px black;
    }

/* Utillity classes */

.hidden {
    visibility: hidden;
}
